<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">

          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Tell us about You...</h1>
                  </div>
                  <form class="user" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="exampleFirstName" 
                        formControlName="firstName" placeholder="First Name" 
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </div>
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="exampleLastName" 
                        formControlName="lastName" placeholder="Last Name"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="custom-control custom-radio small col-sm-4" style="padding-left:3rem">
                        <input type="radio" id="male" name="gender" formControlName="gender" 
                        class="custom-control-input" value="Male"/>
                        <label class="custom-control-label" for="male">Male</label>
                      </div>

                      <div class="custom-control custom-radio small col-sm-5">
                        <input type="radio" class="custom-control-input" id="female" formControlName="gender"
                        name="gender" value="Female"/>
                        <label class="custom-control-label" for="female">Female</label>
                      </div>

                      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Gender is required.</div>
                    </div>
                      
                  </div>
                    
                  <div class="form-group  row">
                  <div class="col-sm-5 ">
                    <input type="number" class="form-control form-control-user" id="exampleInputAge" 
                    formControlName="age" placeholder="Age" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                    <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                      <div *ngIf="f.age.errors.required">Age is required</div>
                  </div>
                  </div>


                  <div class="col-sm-5 ">
                    <input type="number" class="form-control form-control-user" id="exampleInputWeigth" 
                    formControlName="weight" placeholder="Weight (kg)" [ngClass]="{ 'is-invalid': submitted && f.weight.errors }" />
                    <div *ngIf="submitted && f.weight.errors" class="invalid-feedback">
                      <div *ngIf="f.weight.errors.required">Weight is required</div>
                  </div>
                  </div>

                </div>

                <div class="form-group  row">
                  <div class="col-sm-5 ">
                    <input type="number" class="form-control form-control-user" id="exampleInputHeight" 
                    formControlName="height" placeholder="Height (cm)" [ngClass]="{ 'is-invalid': submitted && f.height.errors }" />
                    <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
                      <div *ngIf="f.height.errors.required">Height is required</div>
                  </div>
                  </div>


                  <div class="col-sm-5 ">
                    
                  </div>

                </div>

                    <div class="form-group">
                      <input type="email" formControlName="email" class="form-control form-control-user" id="exampleInputEmail" 
                      formControlName="email" placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                    </div>
                    
                    <div class="form-group">
                      <input type="password" formControlName="passWord" class="form-control form-control-user" id="exampleInputPassword" 
                       placeholder="passWord" [ngClass]="{ 'is-invalid': submitted && f.passWord.errors }" />
                      <div *ngIf="submitted && f.passWord.errors" class="invalid-feedback">
                        <div *ngIf="f.passWord.errors.required">Password is required</div>
                    </div>
                    </div>
                    
                    <button class="btn btn-primary btn-user btn-block" type="submit">Register</button>
                    <a class="btn btn-danger btn-user btn-block" type="reset" (click)="onReset()">Cancel</a>
                    <hr>
                 
                  </form>
                  <hr>
                 
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>